/* duecss v0.0.1 dibuat oleh hifiaz pada 24 oktober 2018 */
@import url("https://fonts.googleapis.com/css?family=Krub:300,400,500,600,700");
html {
  background-color: #f7f8f9;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body,
button,
input,
select,
textarea {
  font-family: "Krub", sans-serif;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
a strong {
  color: currentColor;
}
a:hover {
  color: #ebebeb;
}

.has-text-primary {
  color: #fda085 !important;
}

.has-primary {
  background-color: #fda085 !important;
}

.has-text-white {
  color: #ffffff !important;
}

.has-white {
  background-color: #ffffff !important;
}

.has-text-black {
  color: #0b0b0d !important;
}

.has-black {
  background-color: #0b0b0d !important;
}

.has-text-dark {
  color: #474a56 !important;
}

.has-dark {
  background-color: #474a56 !important;
}

.has-text-warning {
  color: #f8b500 !important;
}

.has-warning {
  background-color: #f8b500 !important;
}

.has-text-danger {
  color: #db3951 !important;
}

.has-danger {
  background-color: #db3951 !important;
}

.has-text-info {
  color: #235784 !important;
}

.has-info {
  background-color: #235784 !important;
}

.has-text-success {
  color: #1abb9c !important;
}

.has-success {
  background-color: #1abb9c !important;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-weight: 500;
}

.is-1 {
  font-size: 3rem;
}

.is-2 {
  font-size: 2.5rem;
}

.is-3 {
  font-size: 2rem;
}

.is-4 {
  font-size: 1.5rem;
}

.is-5 {
  font-size: 1.25rem;
}

.is-6 {
  font-size: 1rem;
}

.is-centered {
  place-items: center;
}

.is-centered-self {
  place-self: center;
}

.is-left {
  align-items: center !important;
}

.is-right {
  text-align: right !important;
  align-items: center !important;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img,
audio,
video {
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 1088px) {
  .container {
    max-width: 960px;
    width: 960px;
  }
  .container.is-fluid {
    max-width: none;
    width: auto;
  }
}

.columns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content;
  grid-gap: 10px;
  grid-auto-rows: minmax(10rem, auto);
}
@media screen and (max-width: 768px) {
  .columns {
    grid-template-columns: auto;
  }
}

.gap-1 {
  grid-gap: 1rem;
}

.column-1 {
  grid-column: span 1;
}

.row-1 {
  grid-row: span 1;
}

.column-2 {
  grid-column: span 2;
}

.row-2 {
  grid-row: span 2;
}

.column-3 {
  grid-column: span 3;
}

.row-3 {
  grid-row: span 3;
}

.column-4 {
  grid-column: span 4;
}

.row-4 {
  grid-row: span 4;
}

.column-5 {
  grid-column: span 5;
}

.row-5 {
  grid-row: span 5;
}

.column-6 {
  grid-column: span 6;
}

.row-6 {
  grid-row: span 6;
}

.column-7 {
  grid-column: span 7;
}

.row-7 {
  grid-row: span 7;
}

.column-8 {
  grid-column: span 8;
}

.row-8 {
  grid-row: span 8;
}

.column-9 {
  grid-column: span 9;
}

.row-9 {
  grid-row: span 9;
}

.column-10 {
  grid-column: span 10;
}

.row-10 {
  grid-row: span 10;
}

.column-11 {
  grid-column: span 11;
}

.row-11 {
  grid-row: span 11;
}

.column-12 {
  grid-column: span 12;
}

.row-12 {
  grid-row: span 12;
}

.nav-bar {
  height: 75px;
  width: 100%;
  display: grid;
}
.nav-bar .nav-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.nav-bar .nav-container .logo {
  display: grid;
  align-self: center !important;
  justify-self: start !important;
}
.nav-bar .nav-container .nav-item {
  display: grid;
  justify-self: center !important;
  align-self: center !important;
}

.button {
  background-color: #ffffff;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  border: #ffffff;
  padding: 0.375rem 0.75em;
}
.button:hover {
  border-color: #e6e6e6;
  color: #5e6272;
}
.button.is-small {
  font-size: 0.75rem;
}
.button.is-medium {
  font-size: 1.5rem;
}
.button.is-large {
  font-size: 3rem;
}
.button.is-primary {
  background-color: #fda085;
  color: #ffffff;
}
.button.is-primary:hover {
  background-color: #fd8c6c;
}
.button.is-white {
  background-color: #ffffff;
  color: #ffffff;
}
.button.is-white:hover {
  background-color: #f2f2f2;
}
.button.is-black {
  background-color: #0b0b0d;
  color: #ffffff;
}
.button.is-black:hover {
  background-color: black;
}
.button.is-dark {
  background-color: #474a56;
  color: #ffffff;
}
.button.is-dark:hover {
  background-color: #3b3e48;
}
.button.is-warning {
  background-color: #f8b500;
  color: #ffffff;
}
.button.is-warning:hover {
  background-color: #dfa200;
}
.button.is-danger {
  background-color: #db3951;
  color: #ffffff;
}
.button.is-danger:hover {
  background-color: #d42740;
}
.button.is-info {
  background-color: #235784;
  color: #ffffff;
}
.button.is-info:hover {
  background-color: #1e4a70;
}
.button.is-success {
  background-color: #1abb9c;
  color: #ffffff;
}
.button.is-success:hover {
  background-color: #17a589;
}

.box {
  background-color: #ffffff;
  padding: 2rem;
}

/*# sourceMappingURL=duestyle.css.map */
